name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      FAIRLY_FIGSHARE_TOKEN: ${{ secrets.FIGSHARE_TOKEN }}
      FAIRLY_ZENODO_TOKEN: ${{ secrets.ZENODO_TOKEN }}

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Test with pytest
        run: |
          # pytest --record-mode=once -cov=fairly tests/
          pytest --disable-recording